root = true

# All files
[*]
# indent_style = space
# indent_size = 4
# charset = utf-8
# trim_trailing_whitespace = true
end_of_line = if

# Python files
[*.py]
# indent_size = 4

# JavaScript and JSON files
[*.js, *.json]
# indent_size = 2
